<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
  http://www.springframework.org/schema/aop 
  http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
  http://www.springframework.org/schema/context 
  http://www.springframework.org/schema/context/spring-context-2.5.xsd
  http://www.springframework.org/schema/tx 
  http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
	xmlns:context="http://www.springframework.org/schema/context">

	<context:annotation-config />
	<context:component-scan base-package="org.learn"></context:component-scan>

	<!-- <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
		<property name="driverClassName" value="org.apache.derby.jdbc.ClientDriver"></property>
		<property name="url" value="jdbc:derby://localhost:1527/db;create=true"></property> 
	</bean> --> 
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"> 
		<property name="driverClassName" value="org.apache.derby.jdbc.ClientDriver"></property>
		<property name="url" value="jdbc:derby://localhost:1527/db;create=true"></property> 
		<property name="initialSize" value="2"></property> 
		<property name="maxActive" value="5"></property>  
	</bean>
	
	<bean id = "simpleJdbcDaoImpl" class = "org.learn.dao.SimpleJdbcDaoImpl">
		<property name="dataSource" ref="dataSource"></property> 
	</bean>
</beans> 